version: '3'

networks:
  jd_comment_network:
    driver: bridge

services:
  db:
    image: mysql:latest
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - ./db:/var/lib/mysql
      - ./CreateSql/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: root
    restart: always
    networks:
      - jd_comment_network

  go_Gin_Colly:
#    build: ./go-Gin-colly
    image: yeyr2:go_Gin_Colly
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./images:/jd_comment/images
      - ./wordsImages:/jd_comment/logs
    depends_on:
      - db
      - pyAnalyzeComment
      - pyWordCloud
    command: ./main
    networks:
      - jd_comment_network
    environment:
      DB_HOST: db
      DB_NAME: jdColly
      DB_USER: root
      DB_PASSWORD: root

  pyWordCloud:
#    build: ./pyWordCloud
    image: yeyr2:pyWordCloud
    restart: always
    ports:
      - "50051:50051"
    volumes:
      - ./wordsImages:/pyWordCloud/images
    command: python service.py
    networks:
      - jd_comment_network

  pyAnalyzeComment:
#    build: ./pyAnalyzeComment
    image: yeyr2:pyAnalyzeComment
    restart: always
    ports:
      - "50052:50052"
    command: python service.py
    networks:
      - jd_comment_network
