contourpy==1.0.7
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.39.3
grpcio==1.53.0
grpcio-tools==1.53.0
jieba==0.42.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
openpyxl==3.1.2
packaging==23.0
Pillow==9.5.0
protobuf==4.22.1
pyparsing==3.0.9
python-dateutil==2.8.2
pyzmq==25.0.2
six==1.16.0
wordcloud==1.8.2.2
